#new-post-box {
    background-color: rgb(255, 255, 255, 0.1);
    width: 33%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    border: 0 solid white;
    border-radius: 33px;
}

#post-box {
    background-color: rgb(255, 255, 255, 0.1);
    width: 33%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    border: 0 solid white;
    border-radius: 33px;
}

#username {
    padding-top: 2%;
    padding-left: 5%;
}

#text-content {
    padding: 10%;
}

#img-content {
    object-fit: contain;
}

.like-btn {
    width: 100px;
    margin-left: 2rem;
}

#comment {
    width: 100%;
    max-width: 300px;
    margin-right: 20px;
}

.input {
    width: 100%;
    padding: 0 5rem;
}

@media screen and (max-width: 850px) {
    #new-post-box {
        width: 60%;
        font-size: 10px;
    }

    #new-post-text input {
        width: 100%;
    }

    #post-box {
        width: 60%;
        font-size: 10px;
    }

    #img-content {
        width: 100%;
    }

    #time-ago {
        font-size: 10px;
    }

    #comment {
        margin-top: 40px;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    #new-post-box {
        width: 100%;
    }

    #post-box {
        width: 100%;
    }
}