#post-box {
    background-color: rgb(255, 255, 255, 0.1);
    width: 33%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    border: 0 solid white;
    border-radius: 33px;
}

#username {
    padding-top: 2%;
    padding-left: 5%;
}

#text-content {
    padding-top: 10%;
}

#img-content {
    padding-top: 10%;
}

.like-btn {
    width: 100px;
    margin-left: 2rem;
}

#comment {
    width: 100%;
    max-width: 300px;
    margin-right: 20px;
}

.input {
    width: 100%;
    padding: 0 5rem;
}