.profile {
    max-width: 1500px;
    height: auto;
    
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .box{
    background-color: white;
    color: blue;
  }

  .profile-image {
    border-radius: 100%;
    border: 3px solid #0c0101; /* You can adjust the border color as needed */
  }
  
  
  .profile h2 {
    margin-bottom: 10px;
  }
  
  .profile-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .profile-buttons button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .profile-form {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .profile-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .profile-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  