.Friend {
    display: flex;
    margin-bottom: 15px;
    .friendContainer {
      display: flex;
      margin: 10px;
      position: relative;
      align-items: center;
      .ProfileImg {
         width: 40px;
         height: 40px;
       border-radius: 50%;
       object-fit: cover; 
       cursor: pointer;
      }
      .OnlineFriend {
         background-color: rgb(45, 201, 45);
         width: 12px;
         height: 12px;
         top:-4px;
         right:2px;
         border-radius: 50%;
         position: absolute;
         border:2px solid white;
     
      }
  }
  .Online{
     font-weight: 500;
     display: flex;
     align-items: center;
     cursor: pointer;
  }
  }