.friend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .friendimg {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      object-fit: cover;
      margin-right: 10px;
    }
    .friendname {
    }
  }