.ShareContainer {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: inset 1px 10px 20px -1px rgba(0, 0, 0, 0.37);
  background-color: white;
  .wrap {
    padding: 15px;
    .top {
      display: flex;
      align-items: center;
      .ProfileImg {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }
      input{
        border: none;
        width: 70%;
      }
      input:focus{
        outline: none;
      }

    }
    hr{
        margin: 20px;
    }
    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
      .Options {
        display: flex;
margin-left: 20px;
        .shareOption {
            display: flex;
            align-items: center;
            color: 15px;
            margin-right: 12px;
            cursor: pointer;
            .shareIcon{
                margin-right:3px;
              font-style: 18px;

            }
          .optionText {
            font-style: 14px;
            font-weight: 500;
          }
        }
      }
    }
    button{
        border:none;
        padding: 7px;border-radius: 5px;
        background-color:#bc4141 ;
        color: white;
        box-shadow: 3px 2px blue;
        font-weight: 500;
        margin-right: 20px;
        cursor: pointer;
    }
  }
}
