.navbarContainer {
    height: 70px;
    width: 100%;
    background: #7b7573;
    z-index:50;
    padding: 10px;
    animation: slideleft 4s ease forwards;
  
    //  left side
    .navbarLeft {
      flex: 3;
      .logo {
        color:#f7dada;
        cursor: pointer;
        animation: zoomIn 4s ease forwards;
        text-shadow: 3px 2px #14105c;
        span{
          color:#ef5abb;
        }
      }
    }
    /* Animation  */
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity:1;
  }
}
@keyframes slideleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

  
    //   center
    .navbarCenter {
      flex: 4;
      .searchbar {
        width: 100%;
        height: 30px;
        .searchIcon{
          font-size: 30px;
          margin: 15px;
        }
        .searchInput{
          border: none;
          width: 70%;
        }
        .searchInput:focus{
          outline: none;
        }
      }
    }
  
    //   right side
    .navbarRight {
      flex: 5;
     .navbarLinks{
  
      .navbarLink{
  margin-right: 10px;
  font-size: 14px;
  border: 1px solid #2B2A4C;
  border-radius: 5px;
  font-weight: 500;
  padding: 5px 10px;
  box-shadow: 2px 2px #4440b7;
  cursor: pointer;
      }
      .navbarLink:hover{
        color: #3a3837;
        background-color: rgb(236, 200, 200);
        font-weight: 500;
        padding: 6px 10px;
        box-shadow: 4px 4px #4440b7;
        cursor: pointer;
            }
     }
     .navbarIcons{
     
      .navbarIconItem{
  margin-right: 15px;
  cursor: pointer;
  
  .navbarIconBadge{
      width: 15px;
      height: 18px;
      border-radius: 50%;
      background-color: rgb(37, 177, 58);
      color: white;
      position: absolute;
      top:-5px;
      right:-5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: 12px;
  }
      }
     }
  
      .ProfilePicture {
        width: 32px;
        height: 32px;
        object-fit: cover;
      }
    }
  }
  